.bg-green-de{
    background-color: rgb(60, 108, 60);
}
.bg-green{
    background-color: rgb(25, 128, 25);
}
.bg-dark{
    background-color: rgb(63, 63, 63);
}
.bg-grey{
    background-color: rgb(126, 126, 126);
}
.bg-white{
    background-color: white;
}