
.input-underline{
    border: none !important;
    border-bottom: 0.5px solid grey !important;
    
    font-size: 40px;
    font-weight: 600;
    font-family: sans-serif;
    color: rgb(146, 146, 146);
}
.input-underline:focus{
    outline: none;

}

.input-center{
    text-align: center;
}
.input-width-100{
    width: 140px;
}

.input-row{
    border-top:0.5px solid gray ;
    border-bottom: 0.5px solid gray ;
    justify-content: space-between !important;
    padding: 0 15px;
}

.input-line-separator{
    width:0.5px;
    background-color: grey;
    height: auto;
    margin: 0 10px;
}

.input-noline{
    border: none !important;
    color: rgb(41, 41, 41);
    font-size: 18px;
}

.input-noline:focus{
    outline: none ;
}


.checkbox-sections{
    transform: scale(1.5);
}

.select-sections{
    border: none !important;
    border-left: 0.5px solid grey !important;
    font-size: 20px;
    padding: 0;
    padding-left: 10px;

}
.select-sections:focus{
    outline:none
}