
.input-underline{
    border: none !important;
    border-bottom: 0.5px solid grey !important;
    

}
.input-size-20{
    font-size: 20px;
    font-family: sans-serif;
}
.input-size-15{
    font-size: 15px;
    font-family: sans-serif;
}


.input-underline:focus{
    outline: none;

}

.input-center{
    text-align: center;
}
.input-width-100{
    width: 140px;
}



.input-row{
    border-top:0.5px solid gray ;
    border-bottom: 0.5px solid gray ;
    justify-content: space-between !important;
    padding: 0 15px;
}


.input-line-separator{
    width:0.5px;
    background-color: grey;
    height: auto;
    margin: 0 10px;
}

.input-noline{
    border: none !important;
    color: rgb(41, 41, 41);
    font-size: 18px;
}

.input-noline:focus{
    outline: none ;
}

.input-select{
    border: none !important; 
    
    margin-bottom: 10px !important;
}


.checkbox-sections{
    transform: scale(1.5);
}

.select-input-row{
    border: none !important;
    
    padding: 0;
    padding-left: 10px;

}
.select-input-row:focus{
    outline:none
}

.notification-counter{
    background-color: rgb(54, 88, 54);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    
}