.svg-15{
    width: 15px;
    height: 15px;

}
.svg-2{
    width: 20px;
    height: 20px;

}
.svg-3{
    width: 30px;
    height: 30px;

}




.svg-color-grey{
    color:rgb(157, 157, 157);
    
    
}
.svg-color-dark-grey{
    color: rgb(88, 88, 88);
    
}
.svg-color-white{
    color: white;
    
}