{% extends 'Base.html' %}



{% block stylesheet %}
<link rel="stylesheet" href="{{url_for('static', filename='css/input_styles.css')}}">

{% endblock %}

{% block content %}
<main > 
    <div class="closeItem padding-bottom-3" id="closeItemPageBtn">
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
    <div class="flex-row">
        <div class="flex-column">
            <input data-value="trolley"  type="text" class="input-underline input-center input-width-100" >
            <span class="padding-top-1 text">Trolley</span>
        </div>
    </div>
    <div class="flex-column   padding-top-4">
        <div class="flex-row input-row ">
            <div class="flex-column gap-1 flex-1 items-start padding-top-1">
                <span class="text text-dark-grey">Article number </span>
                <input data-value="article_number" type="text" class="input-noline"> 
                
            </div>
            <div class="input-line-separator"></div>
            <div class="flex-column gap-1 flex-1 items-start padding-top-1">
                <span class="text text-dark-grey">Condition</span>
                <div class="flex-row justify-start">
                    <!-- <span class="text ">Stable / no wood issues</span> -->
                    <select data-value="condition" id="" class="select-sections">
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="C">C</option>
                        <option value="D">D</option>
                    </select>
                </div>
            </div>
        </div>
       <div class="flex-row input-row">
            <div class="flex-column gap-1 flex-1 items-start padding-top-1">
                <span class="text text-dark-grey">Quantity</span>
                <input type="number" data-value="quantity" class="input-noline">
                
            </div>
            <div class="input-line-separator"></div>
            <div class="flex-column gap-1 flex-1 items-start padding-top-1 ">
                <span class="text text-dark-grey">Upholstery</span>
                <input type="text" data-value="upholstery" class="input-noline">
                
            </div>
       </div>
       <div class="flex-row input-row">
        <div class="flex-column gap-1 flex-1 items-start padding-top-1 ">
            <span class=" text-dark-grey">Item type</span>
            <select data-value="condition"  class="select-sections" data-value="item_type" style="border: none !important; font-size: 15px !important; margin-bottom: 10px !important;">
                <option value="Dining chair">Dining chair</option>
                <option value="Arm chair">Arm chair</option>
                <option value="Stol">Stol</option>
            </select>
        </div>  
   </div>
       <div class="flex-row input-row">
            <div class="flex-column gap-1 flex-1 items-start padding-top-1 ">
                <span class=" text-dark-grey">Notes</span>
                <textarea name="" data-value="notes" id="" class="input-noline">

                </textarea>
            </div>  
       </div>
       <div class="flex-row input-row" >
        <div class="flex-column gap-1 flex-1 items-start padding-top-1 " style="overflow-x: hidden;">
            <span class=" text-dark-grey">Assigned Sections</span>
            <div class="flex-row gap-3 padding-top-1 padding-bottom-2  input-center" style="overflow-x: scroll; justify-content: flex-start !important;">
                <div class="flex-column gap-05">
                    <input checked type="checkbox" data-value-checkbox="Dismantler" class="checkbox-sections">
                    <span class="text text-grey">Dismantler &nbsp;&nbsp;</span>
                </div>
                <div class="flex-column gap-05">
                    <input checked type="checkbox" data-value-checkbox="Cleaner" class="checkbox-sections">
                    <span class="text text-grey">Cleaner &nbsp;&nbsp;</span>
                </div>
                <div class="flex-column gap-05">
                    <input checked type="checkbox" data-value-checkbox="Upholstery Remover" class="checkbox-sections">
                    <span class="text text-grey">Upholstery Remover</span>
                </div>
                <div class="flex-column gap-05">
                    <input checked type="checkbox" data-value-checkbox="Foam Installer" class="checkbox-sections">
                    <span class="text text-grey">Foam Installer</span>
                </div>
                <div class="flex-column gap-05">
                    <input checked type="checkbox" data-value-checkbox="Upholstery Installer" class="checkbox-sections">
                    <span class="text text-grey">Upholstery Installer</span>
                </div>
                <div class="flex-column gap-05">
                    <input checked type="checkbox" data-value-checkbox="Wood Frame Fixer" class="checkbox-sections">
                    <span class="text text-grey">Frame Fixer</span>
                </div>
                <div class="flex-column gap-05">
                    <input checked type="checkbox" data-value-checkbox="Remontering" class="checkbox-sections">
                    <span class="text text-grey">Remontering &nbsp;&nbsp;</span>
                </div>
                <div class="flex-column gap-05">
                    <input checked type="checkbox" data-value-checkbox="Photography" class="checkbox-sections">
                    <span class="text text-grey">Photography &nbsp;&nbsp;</span>
                </div>

            </div>
        </div>
       </div>
       
    </div>
    <div class="footer-page" style="position: absolute !important;">
        <div class="flex-row ">
            <div class="btn bg-green" id="addItemDbBtn">
                <span>Add Item</span>
            </div>
        </div>
        
    </div>
</main>
{% endblock %}

{% block js %}
<script src="{{url_for('static' , filename='js/request_handler.js')}}"></script>
<script src="{{url_for('static', filename='js/adding_item.js')}}"></script>
<script>
    hamburgerBtn.style.display = 'none'

    let closeItemPageBtn = document.getElementById('closeItemPageBtn')
    closeItemPageBtn.addEventListener('click',()=>{
        window.location.href = '/'
    })

</script>
{% endblock %}