{% extends 'Base.html' %}



{% block stylesheet %}
<link rel="stylesheet" href="{{url_for('static', filename='css/login_styles.css')}}">
{% endblock %}

{% block content %}
<main class="items-center justify-center bg-green-de ">
    <div class="login-container">
        <div class="flex-row header-10 padding-bottom-3"><span class="header-10">Login</span></div>
        <div class="flex-column gap-2">
            <div class="flex-column ">
                <div class="flex-column gap-05">
                    <div class="flex-row"><span>Username:</span></div>
                    <div class="flex-row">
                        <input type="text" id="username">
                    </div>
                </div>
                <div class="flex-column gap-05 padding-2">
                    <div class="flex-row"><span>Password:</span></div>
                    <div class="flex-row">
                        <input type="password" id="password">
                    </div>
                </div>
            </div>
            <div class="flex-column ">
                <div class="flex-row">
                    <button id="loginBtn" class="btn bg-green">login</button>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}

{% block js %}
<script src="{{url_for('static' , filename='js/login_functions.js')}}"></script>

{% endblock %}